@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap');

body {
  font-family: 'Manrope', 'Albert Sans', 'DM Sans', sans-serif;
}