@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Manrope', 'Albert Sans', 'DM Sans', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
